.center
  text-align: center
  margin: 0px auto
  .begin
    width: 50px
    margin-top: 10px

.topButtons
  text-align: center
  padding: 10px
  a
    width: 50px
 
.intersection
  position: relative
  width: 500px
  overflow: hidden

#blueCar
  position: absolute
  top: 520px
  left: 260px
  transition-timing-function: ease-in
  -webkit-transition-duration: 2s

#whiteCar
  position: absolute
  top: 200px
  left: 520px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

#greenCar
  position: absolute
  top: -100px
  left: 200px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

#redCar
  position: absolute
  top: 260px
  left: -100px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

#purpleCar
  position: absolute
  top: 520px
  left: 260px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

.icon
  width: 30px

.spacer
  display: inline-block

.rules
  text-align: left
  width: 400px
  margin: 0px auto

.right, .left, .forward
  width: 30px

.firstRow
  padding-top: 10px
