.center
  text-align: center
  margin: 0px auto

.topButtons
  text-align: center
  padding: 10px
  a
    width: 50px

.intersection
  position: relative
  width: 500px

.blueCar
  position: absolute
  top: 420px
  left: 260px
  transition-timing-function: ease-in
  -webkit-transition-duration: 2s

.whiteCar
  position: absolute
  top: 200px
  left: 420px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

.greenCar
  position: absolute
  top: 0px
  left: 200px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

.icon
  width: 30px

.spacer
  display: inline-block

