.center
  text-align: center

.topButtons
  text-align: center
  padding: 10px
  a
    width: 50px

.blueCar
  position: absolute
  top: 714px
  left: 500px
  transition-timing-function: ease-in
  -webkit-transition-duration: 2s

.whiteCar
  position: absolute
  top: 505px
  left: 650px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

.greenCar
  position: absolute
  top: 290px
  left: 440px
  -webkit-transition-duration: 2s
  transition-timing-function: ease-in

.icon
  width: 30px

.spacer
  display: inline-block

