<!DOCTYPE html>
<head>
  <title>Retro-Educational Driving Game</title>
  <link href='http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css' rel='stylesheet' type='text/css' />
  <link href='stylesheets/screen.css' rel='stylesheet' type='text/css' />
  <link href='facebox/facebox.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class='container-fluid'>
    <div class='hero-unit'>
      <h2>Retro-Educational Driving Game</h2>
      <p>This is the description of this retro-educational driving game.</p>
    </div>
    <div class='row'>
      <div class='span12 center'>
        <p>You want to turn LEFT.</p>
      </div>
    </div>
    <div class='row'>
      <div class='topButtons'>
        <img class='icon' src='images/go.png' />
        <a class='btn btn-large' href='#boom' rel='facebox'>
          Go
        </a>
        <div class='spacer' style='width:100px'></div>
        <img class='icon' src='images/yield.png' />
        <a class='btn btn-large' id='next'>
          Yield
        </a>
      </div>
    </div>
    <div class='row'>
      <div class='span12 center'>
        <a name='anchor'></a>
        <img src='images/intersection.png' />
        <img class='blueCar' id='blueCar' src='images/blue_car_down.png' />
        <img class='whiteCar hidden' id='whiteCar' src='images/white_car_right.png' />
        <img class='greenCar' id='greenCar' src='images/green_car_up.png' />
      </div>
    </div>
    <div class='navbar' style='padding-top: 10px; margin-bottom: 0px'>
      <div class='navbar-inner'>
        <div class='container' style='float: right; line-height: 40px'>
          Game Developers Guild Hackathon June 23-24, 2012
        </div>
      </div>
    </div>
    <div class='hidden' id='boom'>
      <p>Nope!</p>
    </div>
  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript'></script>
  <script src='http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.js' type='text/javascript'></script>
  <script src='javascripts/script.js' type='text/javascript'></script>
  <script src='facebox/facebox.js' type='text/javascript'></script>
</body>
