!!! 5
%head
  %title Retro-Educational Driving Game
  %link(rel='stylesheet' type='text/css' href='http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css')
  %link(rel='stylesheet' type='text/css' href='stylesheets/screen.css')
  %link(rel='stylesheet' type='text/css' href='facebox/facebox.css')
%body
  .container-fluid
    .hero-unit
      %h2 Retro-Educational Driving Game
      %p This is the description of this retro-educational driving game.
    .row.center
      %p You want to turn LEFT.
    .row
      .topButtons
        %img(src='images/go.png' class='icon')
        %a(class='btn btn-large' href='#boom' rel='facebox' id='wrong')
          Go
        .spacer(style='width:100px')
        %img(src='images/yield.png' class='icon')
        %a(class='btn btn-large' id='next')
          Yield
    .row
      .intersection.center
        %a(name='anchor')
        %img(src='images/intersection.png')
        %img(src='images/blue_car_down.png' id='blueCar')
        %img(src='images/white_car_right.png' id='whiteCar')
        %img(src='images/green_car_up.png' id='greenCar')
        %img(src='images/red_car_left.png' id='redCar')
        %img(src='images/purple_car_down.png' id='purpleCar')

    .navbar(style='padding-top: 10px; margin-bottom: 0px')
      .navbar-inner
        .container(style="float: right; line-height: 40px")
          Game Developers Guild Hackathon June 23-24, 2012

    #boom.hidden
      %p Nope!
        
    %audio(id='sound_wrong')
      %source(src='audio/wrong.wav' type='audio/wav')

  %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  %script(type='text/javascript' src='http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.js')
  %script(type='text/javascript' src='javascripts/script.js')
  %script(type='text/javascript' src='facebox/facebox.js')
  /[if IE]
    %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js')
    %script(type='text/javascript' src='javascripts/ie.js')
    %link(rel='stylesheet' type='text/css' href='stylesheets/ie.css')
